<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="myactvity.mahyco">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.disrptiv.glassrun.ordermanagement" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <application
        android:name=".utils.MyApplication"
        android:allowBackup="false"
        android:configChanges="orientation"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".newupload.SetAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".HDPSPaymentDetails"
            android:exported="false" />
        <activity
            android:name=".HDPSPaymentDeposit"
            android:exported="false" />
        <activity
            android:name=".LocationTest"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShellingDayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UtpadanMohatsavActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectorMeetingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocpvegetablewebviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentHistoryActivityHDPS"
            android:exported="true" />
        <activity
            android:name=".couponpaymentHDPS"
            android:exported="true" />
        <activity
            android:name=".HDPSCouponDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".TempUserDashboard"
            android:exported="true" />
        <activity
            android:name=".HDPSNewActivity"
            android:exported="true" />
        <activity
            android:name=".endTravelNew"
            android:exported="true" />
        <activity
            android:name=".starttravelnew"
            android:exported="true" />
        <activity
            android:name=".voiceofchanelpartner_be"
            android:exported="true" />
        <activity
            android:name=".daslogin"
            android:exported="false" />
        <activity
            android:name=".barcode.ScannedBarcodeActivity"
            android:exported="true" /> <!-- tools:node="replace" -->
        <activity
            android:name=".myActivityRecording.generalActivity.ReviewMeetingActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SamruddhaKisanValidationRecords"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SamruddhaKisanValidation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ActivityBeSurveyVCF"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.POPDisplayActivity"
            android:exported="true" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.JeepCampaigningActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.CropSeminarActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="myActivityRecordingOnline.imgpick"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- android:value="@string/rzp_test" -->
        <activity
            android:name=".UserHome"
            android:exported="true"
            android:label="@string/title_activity_user_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:value="rzp_test_OTUqtIMwpHfcdU" -->
        <activity
            android:name=".WebviewActivity"
            android:exported="true" />
        <activity
            android:name=".NewUserRegistration"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Profile"
            android:exported="true" /> <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <activity
            android:name=".MyFieldActvity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".UploadData"
            android:exported="true" />
        <activity
            android:name=".newupload.UploadDataNew"
            android:exported="true" />
        <activity
            android:name=".DownloadMasterdata"
            android:exported="false" />
        <activity
            android:name=".DownloadMasterdataRBM"
            android:exported="false" />
        <activity
            android:name=".UserRegister"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgetPassword"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".ReportDashboard"
            android:exported="true" />
        <activity
            android:name=".ReportDisplay"
            android:exported="true" />
        <activity
            android:name=".DetailSummaryReport"
            android:exported="true" />
        <activity
            android:name=".TestImage"
            android:exported="true" />
        <activity
            android:name=".MDOweeklyPlanReport"
            android:exported="true" />
        <activity
            android:name=".MyFieldActvityonline"
            android:exported="true" />
        <activity
            android:name=".Innovation"
            android:exported="true" />
        <activity
            android:name=".VerificationUpdate"
            android:exported="true" />
        <activity
            android:name=".OfflineActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RetailerTag"
            android:exported="true" />
        <activity
            android:name=".orderfromTBM"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".saleorderpending"
            android:exported="true" />
        <activity
            android:name=".orderlist"
            android:exported="true" />
        <activity
            android:name=".MyTravel"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RetailerandDistributorTag"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".saleorderreport"
            android:exported="true" />
        <activity
            android:name=".AndroidDatabaseManager"
            android:exported="true" />
        <activity
            android:name=".demandassessmentsurvey"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".voiceofcustomerDashboard"
            android:exported="true" />
        <activity
            android:name=".orderfromRBM"
            android:exported="true" />
        <activity
            android:name=".RetailerPOG"
            android:exported="true" />
        <activity
            android:name=".retailerpogupdateDetail"
            android:exported="true" />
        <activity
            android:name=".retailerCompetitatorPOGupdate"
            android:exported="true" />
        <activity
            android:name=".pogDashboard"
            android:exported="true" />
        <activity
            android:name=".DistributorPOG"
            android:exported="true" />
        <activity
            android:name=".distributorpogupdateDetail"
            android:exported="true" />
        <activity
            android:name=".distributorCompetitatorPOGupdate"
            android:exported="true" />
        <activity
            android:name=".tablelayouttest"
            android:exported="true" />
        <activity
            android:name=".DistributorAsRetailerPOG"
            android:exported="true" />
        <activity
            android:name=".DistributorAsretailerpogupdateDetail"
            android:exported="true" />
        <activity
            android:name=".distributorASRetailerCompetitatorPOGupdate"
            android:exported="true" />
        <activity
            android:name=".couponDashboard"
            android:exported="true" />
        <activity
            android:name=".coupondistribution"
            android:exported="true" />
        <activity
            android:name=".couponpayment"
            android:exported="true" />
        <activity
            android:name=".PaymentCompletionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".leaveapply"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".leaveHistory"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SalesServiceActivity"
            android:exported="true" />
        <activity
            android:name=".MdoLeaveActivity"
            android:exported="true" />
        <activity
            android:name=".MdoExpensesActivity"
            android:exported="true" />
        <activity
            android:name=".MdoDaActivity"
            android:exported="true" />
        <activity
            android:name=".saleOrderDashboard"
            android:exported="true" />
        <activity
            android:name=".DemoModelListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DemoModelRecordActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".DemoPlotReviewListActivity"
            android:exported="true" />
        <activity
            android:name=".DemoModelReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog1" />
        <activity
            android:name=".DemoModelVisit"
            android:exported="true" />
        <activity
            android:name=".AdvanceBookingCouponActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".barcode.BarcodeCaptureActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityKisanClub"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ActivityRetailerSurvey"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ValidateDemoListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ValidateReviewListActivity"
            android:exported="true" />
        <activity
            android:name=".ValidateReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog1" />
        <activity
            android:name=".ActivityBeSurvey"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MyActivityRecordingNew"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".CropShowActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".HarvestDayActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ParticipantFarmerListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RetailerToVisitActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".LivePlantDisplayVillageActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".LivePlantDisplayRetailCounterActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".FieldDayActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.ATLPosteringActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.ATLWallPaintingActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.FieldBoardActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.FieldBannerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.TrolleyPaintingActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.ATLExhibitionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.atlActivity.MarketDayActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.TestimonialCollectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".preSeasonActivityOnline.TestimonialCollectionActivityOnline"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.SanmanMelaActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.VillageMeetingActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.preSeasonActivity.PromotionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".RetailerVisitsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".FarmerVisitsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".DistributerVisitsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.generalActivity.SamruddhaKisanVisitsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".myActivityRecording.generalActivity.AddressComplaintActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".saleOrderReturn"
            android:exported="true" />
        <activity
            android:name=".salesreturnorderlist"
            android:exported="true" />
        <activity
            android:name=".saleOrderReturnApproved"
            android:exported="true" />
        <activity
            android:name=".postSeasonActivityOnline.CropShowActivityOnline"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".generalActivityOnline.RetailerVisitsActivityOnline"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".generalActivityOnline.DistributerVisitsActivityOnline"
            android:exported="true" />
        <activity
            android:name=".preSeasonActivityOnline.VillageMeetingActivityOnline"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!--
<meta-data
            android:name="io.fabric.ApiKey"
            android:value="f76bf84b16745a1fffa3549e2356a8a439ac12d2" />
        -->
        <activity
            android:name=".postSeasonActivityOnline.LivePlantDisplayRetailCounterActivityOnline"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".mdoSurvey"
            android:exported="true" />
        <activity
            android:name=".DSActivity"
            android:exported="true" />
        <activity
            android:name=".SalesWebData"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ActivityVOFP"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".BCFCallTBM"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributorPOGVeg"
            android:exported="true" />
        <activity
            android:name=".distributorpogupdateDetailveg"
            android:exported="true" />
        <activity
            android:name=".RetailerPOGVeg"
            android:exported="true" />
        <activity
            android:name=".retailerpogupdateDetailVeg"
            android:exported="true" />
        <activity
            android:name=".distributorCompetitatorPOGupdateveg"
            android:exported="true" />
        <activity
            android:name=".retailerCompetitatorPOGupdateveg"
            android:exported="true" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.Mahakisan"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.RetailerValidationRecordActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.DistributorValidationRecordActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.FarmerValidationRecordActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.CallValidation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.FarmerCallActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.TestimonialSharingActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.WhatsappGrpCreatedActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.DistributorCallActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".myActivityRecording.digitalMarketing.RetailerCallActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".wawActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/rzp_key" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <!--
<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="myactvity.mahyco.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <service
            android:name=".services.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".GcmBroadcastReceiver"

            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".newupload.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>

        </receiver>
        <receiver
            android:name=".newupload.NotificationReceiver"
            android:exported="false" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>